# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# Do not manage the checksum of go modules because the calculation method often changes
go.sum

# related release files
pkg/

# GoReleaser output
dist/

vendor/
*~

CLAUDE.md
AGENTS.md
