name: Test
on:
  push:
    paths:
      - "**.go"
      - "Taskfile.yaml"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/test.yaml"
    branches:
      - main
      - master
      - feature/**

jobs:
  test:
    strategy:
      matrix:
        go:
          - "1.13"
          - "1.14"
    name: Test (Go ${{ matrix.go }})
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v4

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version: ${{ matrix.go }}
          cache: true

      - name: Test
        run: go test -v -race ./...
